
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root{

  --HEADER-BGCOLOR: #820000;
  --HEADER-FONTCOLOR: #FAECD6;
  --ITEM-FONTCOLOR:#4E6C50;
  --ITEM-BGCOLOR:#FAECD6;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header{

  width: 100vw;
  background-color: black;
  font-size: 3rem;
  font-weight: 700;
  color: var(--HEADER-FONTCOLOR);
  padding-top: .5rem;
  display: flex;
  justify-content: center;
  background-color: var(--HEADER-BGCOLOR);
  align-items: center;
  
}

main{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  font-size: 400;
}

footer{

  width: 100vw;
  background-color: black;
  font-size: 2rem;
  font-weight: 700;
  color: var(--HEADER-FONTCOLOR);
  padding-top: .5rem;
  display: flex;
  justify-content: center;
  background-color: var(--HEADER-BGCOLOR);
  align-items: center;
  
}
.list{
  list-style: none;
  width: 100%;
  
}

.list li{ 
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  color: var(--ITEM-FONTCOLOR);
  background-color: var(--ITEM-BGCOLOR);
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5rem;
  width: 80vw;
}

.list li input[type=checkbox]{
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 1.5rem;
  cursor: pointer; 
}

.list li svg{
  margin-left: auto;
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 1.5rem;
  
  
}

.list li svg:focus,
.list li svg:hover{
  cursor: pointer;
  color: red;
  outline: none;
}

.addForm{
  
  border-radius: 5px;
  margin-top: 20px;
  width:80vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--ITEM-FONTCOLOR);
}

.addForm label{
  position: absolute;
  left: -99999999px;
}
.addForm input[type= 'text']{
  flex-grow:1 ;
  min-height: 32px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: .25rem;
  margin-right: .25rem;
  max-width: calc(100% - 60px);
  outline: none;
  border: none;
  border: 1px solid var(--ITEM-FONTCOLOR);
  border-radius: 5px;
  font-family:'Josefin Sans', sans-serif ;
}

#addItem::placeholder{
  font-family: 'Josefin Sans', sans-serif;
  color: var(--ITEM-FONTCOLOR);
}

.addForm .addButton{
  margin: 0 auto;
  font-size: 1rem;
  cursor: pointer;
  min-width: 2rem;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid var(--ITEM-FONTCOLOR);
}

.addForm :is(.addButton:focus, .addButton:hover){
  background-color: var(--ITEM-FONTCOLOR);
  outline: none;
}